<div data-controller="user-by-email-auth">
  <div class="mt-3 sm:ml-4 sm:mt-0 sm:text-left">
    <div class="flex">
      <div class="flex-none cursor-pointer" data-modal-target="closeButton">
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </div>
      <div class="grow">
        <h3 class="pr-7 text-2xl font-semibold leading-6 text-gray-900 text-center mb-4" id="modal-title">Log in or sign up</h3>
      </div>
    </div>
    <div class="relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="border-line w-full border-t border-gray-300"></div>
      </div>
    </div>
    <div class="pt-6">
      <h4 class="text-lg leading-6 text-gray-900 mt-2 font-medium">Welcome to Airbnb</h4>
      <div class="mt-4 border border-gray-900 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-black focus-within:border-black">
        <label for="email" class="block text-xs font-medium text-gray-900">Email</label>
        <input data-user-by-email-auth-target="email" type="text" name="email" id="email" class="block w-full border-0 p-0 text-gray-900 placeholdergray-900 focus:ring-0 sm:text-sm" placeholder="John.doe@gmail.com">
      </div>
    </div>
  </div>
  <div class="my-5 sm:mt-6">
    <button data-user-by-email-auth-target="submit" type="button" class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 w-full airbnb-pink-gradient">Continue</button>
  </div>
</div>
<div class="relative">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="border-line w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center">
    <span class="px-2 bg-white text-sm text-gray-400">or</span>
  </div>
</div>

<div class="my-5 sm:mt-6">
  <button type="button" class="inline-flex items-center justify-center px-6 py-3 border border-gray-300 text-base font-medium rounded-md shadow-sm text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigio-500 w-full">
    <svg class="-ml-1 mr-3 h5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px;">
      <path fill="#1877F2" d="M32 0v32H0V0z"></path><path fill="#FFF" d="M22.94 16H18.5v-3c0-1.27.62-2.5 2.6-2.5h2.02V6.56s-1.83-.31-3.58-.31c-3.65 0-6.04 2.21-6.04 6.22V16H9.44v4.63h4.06V32h5V20.62h3.73l.7-4.62z"></path>
    </svg>
    Continue with Facebook
  </button>
</div>
