.nav-container{
  min-height: 80px;
}

.logo-link {
  svg {
    display: block;
    color: $airbnb-logo;
  }
}

.invalid-inset-input-test-field {
  border-color: rgb(244,63,94) !important;

  label {
    color: rgb(244,63,94) !important;
  }

  input[type="email"], input[type="test"]{
    &:focus {
      border-color: rgb(244,63,94) !important;
    }
    color: rgb(244,63,94) !important;
  }
}

.error-message{
  color: red !important;
}

.grid-image{
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w)* 100%);
  --tw-aspect-w: 10;
}